<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Experience.CloudFx.Framework.Configuration.RetryPolicyConfigurationSection, Microsoft.Experience.CloudFx.Framework" />
    <section name="StorageAccountConfiguration" type="Microsoft.Experience.CloudFx.Framework.Configuration.StorageAccountConfigurationSection, Microsoft.Experience.CloudFx.Framework" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <RetryPolicyConfiguration defaultPolicy="FixedIntervalDefault" defaultStoragePolicy="ExponentialIntervalDefault" defaultCommunicationPolicy="ExponentialIntervalDefault" defaultSqlCommandPolicy="FixedIntervalDefault">
    <add name="FixedIntervalDefault" maxRetryCount="10" retryInterval="500" />
    <add name="IncrementalIntervalDefault" maxRetryCount="10" retryInterval="100" retryIncrement="50" />
    <add name="ExponentialIntervalDefault" maxRetryCount="10" minBackoff="100" maxBackoff="1000" deltaBackoff="100" />
  </RetryPolicyConfiguration>
  <StorageAccountConfiguration defaultBlobStorage="LocalStorage" defaultQueueStorage="LocalStorage" defaultTableStorage="LocalStorage">
    <add name="LocalStorage" accountName="(local)" accountKey="" />
    <!--add name="CloudStorage" accountName="[PUT-YOUR-STORAGE-ACC-NAME-HERE]" accountKey="[PUT-YOUR-STORAGE-ACC-KEY-HERE]" /-->
  </StorageAccountConfiguration>
</configuration>